@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Edu+SA+Beginner:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
html,
body {
  overflow-x: hidden;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}


.CTAbutton {
  cursor: pointer;
  border-radius: 6px;
  background-color: #f2e937; /* Equivalent to bg-yellow-50 */
  padding: 8px 20px;
  font-weight: 600; /* Equivalent to font-semibold */
  color: #000814; /* Equivalent to text-richblack-900 */
}

.input-custom {
  height: 120px; /* Ensures full height */
  vertical-align: top; /* Aligns text to the top */
  display: flex;
  align-items: flex-start; /* Pushes text to the top */
  padding-top: 10px; /* Adds spacing from the top */
}



.CTAbutton:hover {
  background-color: #161D29; /* Slightly darker yellow */
  transform: scale(1.05);
  color: #f1ea5c; /* Slight scaling effect */
}

.CTAbuttonModal {
  cursor: pointer;
  border-radius: 6px;
  background-color: #f2e937; /* Equivalent to bg-yellow-50 */
  padding: 8px 20px;
  font-weight: 600; /* Equivalent to font-semibold */
  color: #000814; /* Equivalent to text-richblack-900 */
}

.CTAbuttonModal:hover {
  background-color: #000209; /* Slightly darker yellow */
  transform: scale(1.05);
  color: #f1ea5c; /* Slight scaling effect */
}